params.outdir = "results"
params.samplesheet = "samples.csv"
params.correct = false


// barcode searching parameters
params.error_rate = 0.1
params.min_overlap = 3

// barcode searching parameters
params.min_bc_len = 20
params.max_bc_len = 60

params.cores = 4


process {
    withName:filter_and_merge {
        container = "quay.io/biocontainers/fastp:0.23.3--h5f740d0_0"
    }
    withName:extract_barcodes {
        container = "quay.io/biocontainers/cutadapt:4.9--py310h7c593f9_1"
    }
}

docker {
    enabled = true
}