params.outdir = "results"
params.samplesheet = "samples.csv"
params.correct = false
params.keep_intermediate = false


// barcode searching parameters
params.error_rate = 0.1
params.min_overlap = 3

// barcode searching parameters
params.min_bc_len = 20
params.max_bc_len = 60

params.cores = 4
params.big_mem = '16 GB'
params.correct_mem = '32 GB'



docker {
    enabled = true
}

profiles {
    standard {
        process.excutor = 'local'
        process.container = "mworkentine/fitness-pipeline"
    }

    awsbatch {
        process.executor = 'awsbatch'
        process.queue = 'nextflow-batch'
        process.container = "mworkentine/fitness-pipeline"
        aws.region = 'us-west-1'
        aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        workDir = "s3://pioneer-scratch/nextflow_scratch/"
        process.memory = "2 GB"
    }
}