//aws.profile = 'general-116981805068'
// general
params.samplesheet = "samples.csv"

// The output directory names are a concatenation of timestamp and the sample sheet name.
// A flag to toggle where the output resides in the prod or dev parent directory, by default it is prod.
params{
     s3_path = "s3://pioneer-analysis/short_read/"
     parentdir = "prod"
     outdir = params.s3_path + params.parentdir + "/" + new java.util.Date().format("yyyy_MM_dd_HH_mm_ss") + "_" + new File(params.samplesheet).getName().split(".csv")[0]
     }

params.correct = true

// single end or paired end reads
params.paired_reads = true

// barcode searching 
params.error_rate = 0.1
params.min_overlap = 3

// barcode correction
params.min_centroid = 2
params.correct_error_rate = 0.1
params.max_edits = 3

// barcode filter 
params.min_bc_len = 20
params.max_bc_len = 60

// barcode count cutoffs, will create an output file for each value in list
params.barcode_cutoff = 0

// resources
params.cores = 32
params.big_mem = '128 GB'
params.correct_mem = '128 GB'

params.help = false

manifest.defaultBranch = 'main'

tower {
 accessToken = 'eyJ0aWQiOiAxMTc0NX0uYTEzNjExNDFkNmM0MmE5MmMwNTcyYjEzMzY3NzkwYzhiNzQwYzVlMQ=='
}


docker {
    enabled = true
}

profiles {
    standard {
        process.executor = 'local'
        process.container = "116981805068.dkr.ecr.us-west-1.amazonaws.com/pioneer/pipelines:short-read-processing"
    }

    awsbatch {
        process.executor = 'awsbatch'
        process.queue = 'nextflow-short-read-queue'
        process.container = "116981805068.dkr.ecr.us-west-1.amazonaws.com/pioneer/pipelines:short-read-processing"
        aws.region = 'us-west-1'
        aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        workDir = "s3://pioneer-nextflow-tower-west/"
        process.memory = "128 GB"
        params.cpus = 32
    }
}
